<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ServletInsumosRestringidos</servlet-name>
        <servlet-class>lp2tecnoquim.servlets.ServletInsumosRestringidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletProductosRestringidos</servlet-name>
        <servlet-class>lp2tecnoquim.servlets.ServletProductosRestringidos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletInsumosRestringidos</servlet-name>
        <url-pattern>/ServletInsumosRestringidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletProductosRestringidos</servlet-name>
        <url-pattern>/ServletProductosRestringidos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
